.banner-wrapper img {
  width: 100%;
  min-height: 90vh;
  object-fit: cover;
  object-position: right;
}

.banner-text {
  padding: 40px 0 !important;
}

.banner-text h1 {
  font-weight: 600 !important;
}

.about-section {
  background: url('../../assets/images/img1.png') no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 90vh;
  text-align: center;
}

.about-section p {
  font-size: 24px !important;
}

.innovation-section {
  position: relative;
  color: #fff;
  padding-bottom: 220px;
}

.innovation-section .design1 {
  position: absolute;
  right: 0;
  width: 40%;
  height: auto;
  opacity: 0.2;
}

.innovation-section .section-title {
  position: relative;
  max-width: 500px;
  width: 100%;
  z-index: 1;
}



/* media  */
@media (max-width:1200px) {
  .innovation-section {
    padding-bottom: 80px;
  }
}

@media (max-width:768px) {
  .innovation-section {
    padding-bottom: 40px;
  }
}

@media (max-width:768px) {
  .about-section {
    min-height: 100%;
    padding-bottom: 40px;
  }

  .about-section p {
    font-size: 18px !important;
  }

  .about-section p br {
    display: none !important;
  }
}