.blog-deatail {
  width: 100%;
  background: var(--dark-color) url('../../assets//images/service-bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff !important;
}

.blog-deatail .img-wrapper {
  position: relative;
  display: block;
  z-index: 1;
}

.blog-deatail .img-wrapper:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #4fa14dcf;
  z-index: -1;
}



.strategy-box {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px !important;
}

.strategy-box .icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.btn,
.blog-hero button {
  background-color: #CEE6CD;
  padding: 12px 40px;
  color: #1C1C1C;
  border: 1px solid var(--theme-color);
  font-weight: 600;
  margin: 30px 0;
}

.btn:hover,
.blog-hero button:hover {
  background-color: #a3bba2;
}

.blogs-section {
  position: relative;
}

.blogs-section::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%) skewY(-10deg);
  background: #6dea6938;
  height: 500px;
  z-index: 0;
}

.bog-data-div .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.bog-data-div .title h3 {
  position: relative;
  text-align: center;
  text-transform: capitalize;
  max-width: max-content;
}

.details-inner strong {
  margin-bottom: 10px;
  display: block;
  font-size: 20px;
}

.bog-data-div .title h3:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -12px;
  width: 50%;
  background-color: var(--theme-color);
  height: 2px;
  transform: translateX(-50%);
}

ol.numbers li {
  list-style-type: auto;
}

ol.numbers {
  padding-left: 20px;
}

.accordion>.Mui-expanded {
  margin: 0 !important;
  border-bottom: 1px solid var(--theme-color);
}

.accordion {
  /* box-shadow: 0 0 10px rgb(0 0 0 /10%) !important; */
  box-shadow: none !important;
  border: 1px solid var(--theme-color);
  margin-bottom: 10px;
}


.accordion:before {
  background-color: #000;
}
.blog-details-section p a{
  color:#2c9529;
  text-decoration: underline !important;
}

@media (max-width:450px) {
  .blog-hero button {
    padding: 10px 15px;
    margin: 25px 0;
    font-size: 13px !important;
  }
}
